html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: black !important;
    background-size: cover;
    background-position: center;  
    overflow: hidden;
    color: white !important;
}

#loading-screen{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    z-index: 1;
}

.loader-1{
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    border-top: 4px solid rgba(255, 5, 253);
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    animation: spin 1.5s linear infinite;
}

.loader-2{
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    border-top: 4px solid rgba(47, 214, 255);
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    animation: spin 1s linear infinite;
}

.loader-3{
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    border-top: 4px solid rgba(23, 254, 50);
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    animation: spin 0.5s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-2{
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

ul {
    margin: 0px;
}

.text-left{
    color: white;
}

.navbar{
    background: #222324;
}

.content{
    text-align: center;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#intro-img{
    position: absolute;
    top: 0; 
    width: 100%;
    height: 100%;
    background: url('./assets/images/razor.jpg'); 
    opacity: 0.3;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#hr-intro{
    width: 300px;
    border-bottom: 1px solid white;
    opacity: 0.2;
}

#hr-projects{
    width: 300px;
    border-bottom: 1px solid white;
}

.fill .map 
{
  min-height: 100vh;
}

.portrait-img{
    background-image: url(./assets/images/portrait-2.jpg);
    background-size: cover;
    background-position: left top;
    height: 370px;
    width: 370px;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 18px;
}

@media only screen and (max-width: 400px) {
    .portrait-img{
        height: 340px;
        width: 340px;
    }
}

#about{
    padding-top: 5em;
    padding-bottom: 5em;
}

@media only screen and (max-width: 768px) {
    #about{
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.about-description hr{
    width: 100%;
    border-top: 1px solid white;
}

.social-links a img{
    height: 4.5em;
    width: 4.5em;
    border-radius: 50%;
    margin-right: 1em;
    margin-left: 1em;
    transition: all 0.3s;
    -webkit-box-shadow: 0em 2em 3em -1.5em rgba(255, 255, 255, 0.7);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0em 2em 3em -1.5em rgba(255, 255, 255, 0.7);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0em 2em 3em -1.5em rgba(255, 255, 255, 0.7);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.social-links a img:hover{
    height: 5em;
    width: 5em;
    -webkit-box-shadow: 0em 2em 3em -1.5em rgba(255, 255, 255, 1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0em 2em 3em -1.5em rgba(255, 255, 255, 1);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0em 2em 3em -1.5em rgba(255, 255, 255, 1);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    transition: all 0.3s;
}

.projects-title{
    padding-top: 5em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .projects-title{
        padding-top: 2em;
        padding-bottom: 1em;
    }
}

#projects{
    background-color: #111111;
}

.projects-title, .project-title, .project-languages{
    text-align: center;
}

.project-img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 18px;
    text-align: center;
    transition: all 0.3s;
    -webkit-box-shadow: 0em 7em 7em -5em rgba(255, 255, 255, 0.7);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0em 7em 7em -5em rgba(255, 255, 255, 0.7);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0em 7em 7em -5em rgba(255, 255, 255, 0.7);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.project-img:hover{
    height: 300px;
    width: 300px;
    transition: all 0.3s;
    -webkit-box-shadow: 0em 7em 7em -5em rgba(255, 255, 255, 1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0em 7em 7em -5em rgba(255, 255, 255, 1);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0em 7em 7em -5em rgba(255, 255, 255, 1);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.project-description{
    width: 300px;
    padding: 3em 0em;
}

#snipgen{
    background-image: url(./assets/images/snipgen.png);
    background-color: #ffffff;
}

#snipgen:hover{
    cursor: pointer;
}

#kbeats{
    background-image: url(./assets/images/kBeats.jpg);
}

#zenfitness{
    background-image: url(./assets/images/zenfitness.jpeg);
    background-size: cover;
}

#change4better{
    background-image: url(./assets/images/Change4Better.png);
}

#change4better:hover{
    cursor: pointer;
}

#plantmanager{
    background-image: url(./assets/images/plantmanager.png);
}

#p2pnetwork{
    background-image: url(./assets/images/p2pnetwork.jpg);
}

#mxt{
    background-image: url(./assets/images/mxt.png);
    background-color: #222222;
}

#mxt:hover{
    cursor: pointer;
}

@media screen and (min-width: 487px)  {
    .mobile-break{ 
        display: none; 
    }
}