html{
    scroll-behavior: smooth;
}

body {
    background-color: black !important;
    background-size: cover;
    background-position: center;  
}

ul {
    margin: 0px;
}

.navbar{
    background: #222324;
}

.content{
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    background: url('./assets/images/jumbo.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
}

.content h1{

}

hr {
    width: 50%;
    border-top: 1px solid white;
}

.fill .map 
{
  min-height: 100vh;
}

.portrait-img{
    background-image: url(./assets/images/portrait-2.jpg);
    background-size: cover;
    background-position: left top;
    height: 370px;
    width: 370px;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 18px;
}

#about{
    margin-top: 5em;
    margin-bottom: 5em;
}

.about-description{
    color: white; 
}

.about-description hr{
    width: 70%;
    border-top: 1px solid white;
}

.social-links a img{
    height: 4.5em;
    width: 4.5em;
    border-radius: 4.5em;
    margin-right: 1em;
    margin-left: 1em;
}

#social-github:hover{
    border: 1px solid white;
}

#social-linked-in:hover{
    border: 1px solid white;
}

#projects{
    background-color: #111111;
}

.projects-title{
    color: white;
    text-align: center;
}

